<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- V---- Start Settings Tag -->
<settings>
<!-- #######################################################################################################################################-->
<!-- V--Start Cat Tag V-----------The Name Of Your Category It Can Be Anything  -->
<category label="Account">
<!-- #######################################################################################################################################-->

<!-- #######################################################################################################################################-->

<!--                 V----- This Is Your ID This Is Important To Remember And Will Need In The default.py-->
     <setting id="myname" type="text" label="Username" default="No Name"/>
<!--        The Type Of Settings --^                              ^---- This Is he Text You Want To Be By Default -->

<!-- #######################################################################################################################################-->

<!-- V----- End Cat Tag -->
</category>
<!-- #######################################################################################################################################-->

<!-- V----- End Settings Tag -->
</settings>